<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>sisitv_ios.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>187860631E112C8600B65EB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1878607C1E112C8700B65EB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>187860871E112C8700B65EB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
